<app-nav-user></app-nav-user>
<div class="home">
  <h1 class=" text-center display-4">
    <span class="NIS">List</span> <span class="home-banner">of Teachers</span>
  </h1>
  <div class="container col-xl-6 col-md-12 mt-5">
    <div class="card">
      <div class="card-body">
        <table style="background-color: rgb(255, 255, 190);" class="table table-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
          </tr>
          <tr *ngFor="let teacher of allData">
            <th> {{teacher.id}} </th>
            <th> {{teacher.name}} </th>
            <th> {{teacher.course}}</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
