<app-navbar></app-navbar>
<div class="home">
  <h1 class=" text-center display-4">
  <span class="NIS">NIS</span> <span class="home-banner">school</span>
</h1>
<div class="container" style="display: block;">
  <div style="justify-content: center;">
    <iframe class="col-xl-12 col-md-12"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.2143399949177!2d31.377042949743153!3d30.05939002473443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583d9512f4968f%3A0x9ba56ccc3f38e790!2sAdvanced%20Education%20Schools%20-%20Dr.%20Nermien%20Ismail!5e0!3m2!1sen!2seg!4v1634680630010!5m2!1sen!2seg"
      width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

</div>
</div>

