<div class="home">
    <h1 class=" text-center display-4">
        <span class="NIS">User</span> <span class="home-banner">Register</span> 
      </h1>    <div class="container col-md-6 mt-5">
        <div class="card">
            <div style="background-color: rgb(255, 255, 190);" class="card-body">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" [(ngModel)] = "obj.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" [(ngModel)] = "obj.email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" [(ngModel)] = "obj.password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" [(ngModel)] = "obj.phone" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Type</label>
                    <input type="text" [(ngModel)] = "obj.type" class="form-control">
                </div>
                <button (click)="save()" class="btn btn-info w-50 mx-auto btn-block">Register</button>
                <a class="mt-5" routerLink="/Login">Already have account Login?</a>

            </div>

        </div>
    </div>
</div>
