<app-navbar></app-navbar>
<div class="home">
  <h1 class=" text-center display-4">
    <span class="NIS">List</span> <span class="home-banner">of Students</span>
  </h1>
  <div class="container col-xl-6 col-md-12 mt-5">
    <div class="card">
      <div class="card-body">
        <table style="background-color: rgb(255, 255, 190);" class="table table-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Level</th>
          </tr>
          <tr *ngFor="let student of allData">
            <th> {{student.id}} </th>
            <th> {{student.name}} </th>
            <th> {{student.level}}</th>
            <th><button (click)="remove(student.id)" class="btn btn-danger">Delete</button></th>
            <th><button routerLink="{{student.id}}" class="btn btn-info">Edit</button></th>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
