 <!-- ======= Footer ======= -->
 <footer id="footer">
   <div class="container">
     <h3>NIS</h3>
     <div class="social-links">
       <a href="https://www.facebook.com/ziadahmed19/" target="__blank" class="facebook"><i
           class="fab fa-facebook-f"></i></a>
       <a href="https://www.instagram.com/ziadahmedbadwy/" target="__blank" class="instagram"><i
           class="fab fa-instagram"></i></a>
       <a href="https://www.linkedin.com/in/ziad-ahmed-631784143/" target="__blank" class="facebook"> <i
           class="fab fa-linkedin-in"></i>
       </a>
       
     </div>
   </div>
 </footer><!-- End Footer -->
